html {
    scroll-behavior: smooth;
}

body {
    background-color: #0d0d0d;
    color: #e0e0e0;
    font-family: 'Inter', sans-serif;
}

.card {
    background: #1a1a1a;
    border: 1px solid #2c2c2c;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.05);
}

h2,
h3 {
    color: #ffffff;
    text-shadow: 0 0 2px #00eeff;

}

.marquee-track {
    display: inline-flex;
    animation: marquee-loop 50s linear infinite;
}

@keyframes marquee-loop {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}